%h1.article__center All users
%div.alert_container
  -flash.each do |key,value|
    %div.alert_error= value
= will_paginate @users
%ul.users
  - @users.each do |user|
    %li
      -if user.photo.url == nil
        %p=image_tag 'default_user_photo.png'
        %p= user.name + ' ' + user.surname + ', Admin: '+ user.admin.to_s
        %p= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure?" }
      -else
        %p= image_tag user.photo.url
        %p= user.name + ' ' + user.surname + ', Admin: '+ user.admin.to_s
        %p= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure?" }
= will_paginate @users