-#%div.user
-#  %div.user_inform
-#    %h1
-#      %br
-#        %br
-#      %div.alert_container
-#        -flash.each do |key,value|
-#          %div.alert_success= value
%div.profile-page__current-user
  -if @user.photo.url == nil
    = image_tag 'default_user_photo.png', :class => 'profile-page__current-user__photo'
  -else
    = image_tag @user.photo.url, :class => 'profile-page__current-user__photo'
  %div.profile-page__current-user__text
    %p= @user.name + ' ' + @user.surname
    %p= @user.email
    -if current_user.admin? && (current_user.email == @user.email)
      %p Administrator
  %div.profile-page__current-user__buttons
    %h4= link_to 'Add new hotel', new_hotel_path
    -if current_user.admin? && (current_user.email == @user.email)
      %p= link_to 'Show all users', users_path
  %div.profile-page__current-user__hotels
    -if @user_hotels != [] && (current_user.email == @user.email)
      %div.profile-page__current-user__hotels__head Added hotels
      -@user_hotels.each do |hotel|
        %div.profile-page__current-user__hotels__text
          = hotel.title
          = link_to(image_tag('options-icon.png'), edit_hotel_path(hotel))
          = link_to(image_tag('delete-icon.png'), hotel_path(hotel), method: :delete, data: {confirm: 'Are you sure ?'})
      = will_paginate @user_hotels