%div.main-page__head-line
  %div.article__center Hotels
  %h4#newHotel= link_to 'Add new hotel', new_hotel_path
  %p#back= link_to 'Back', root_path
  %table.hotels
    %tr
      %th Название отеля
      %th Рейтинг отеля
      %th Завтраки
      %th Описание комнат
      %th Цена
      %th Адрес
      %th Удаление
      %th Просмотр
      %th Редактирование
    -@hotels.each do |hotel|
      %tr
        %td= hotel.title
        %td= hotel.rating
        %td= hotel.breakfast_included
        %td= hotel.room_description
        %td= hotel.price
        %td= hotel.address
        %td= link_to 'Delete', hotel_path(hotel), method: :delete, data: {confirm: 'R u sure ?'}
        %td= link_to 'Show', hotel_path(hotel)
        %td= link_to 'Edit', edit_hotel_path(hotel)
