%div.main-page__head-line
  %div.article__center Hotels
  %p#back= link_to 'Back', root_path
  %table.hotels
    %tr
      %th Название отеля
      %th Рейтинг отеля
      %th Завтраки
      %th Описание комнат
      %th Цена
      %th Адрес
      %th Просмотр
    -@hotels.each do |hotel|
      %tr
        %td= hotel.title
        %td= hotel.rating
        %td= hotel.breakfast_included
        %td= hotel.room_description
        %td= hotel.price
        %td= hotel.address
        %td= link_to 'Show', hotel_path(hotel)
