%h1#caption About hotel
%p.title_for_out= 'Hotel title: '+@hotel.title
%p.title_for_out= 'Hotel rating: '+@hotel.rating
%p.title_for_out= @hotel.breakfast_included + ' breakfast'
%p.title_for_out= 'Room description'+@hotel.room_description
%p.title_for_out= 'Price of room'+@hotel.price.to_s
%p.title_for_out= 'Address of hotel'+@hotel.address

%p= link_to 'Back', hotels_path


