%div.article__center
  %p About hotel
%div.profile-page__current-hotel
  %div.profile-page__current-hotel__text
    %p= 'Hotel title: '+@hotel.title
    %p= 'Hotel rating: '+@hotel.rating
    %p= @hotel.breakfast_included + ' breakfast'
    %p= 'Room description: '+@hotel.room_description
    %p= 'Price of room: '+@hotel.price.to_s
    %p= 'Address of hotel: '+@hotel.address
    %p= 'User which added: '+find_user_by_id(@hotel.user_id).email
  -if @hotel.photo.url == nil
    = image_tag 'default_hotel_photo.jpg', :class => 'profile-page__current-hotel__photo'
  -else
    = image_tag @hotel.photo.url, :class => 'profile-page__current-hotel__photo'

%p#back= link_to 'Back',  all_hotels_path

