%div.main-page__head-line
  %div.article__center About hotel
  %p.title_for_out= 'Hotel title: '+@hotel.title
  %p.title_for_out= 'Hotel rating: '+@hotel.rating
  %p.title_for_out= @hotel.breakfast_included + ' breakfast'
  %p.title_for_out= 'Room description: '+@hotel.room_description
  %p.title_for_out= 'Price of room: '+@hotel.price.to_s
  %p.title_for_out= 'Address of hotel: '+@hotel.address
  -if @hotel.photo.url == nil
    %p.title_for_out= image_tag 'default_photo.jpg'
  -else
    %p.title_for_out= image_tag @hotel.photo.url

  %p#back= link_to 'Back',  all_hotel_path

