<!DOCTYPE html>
<html>
<head>
  <title>HotelAdvisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="background-image">
  <div class="main-page__head-line">
    <div class="main-page__header">
      <div class="main-page__header__logo">
        <%= link_to(image_tag('logo.png', class:'main-page__header__logo__img'), root_path) %>
      </div>
      <nav>
        <ul class="main-page__header__menu">
          <% if signed_in? %>
              <li class = 'main-page__header__sign-up'>
                <div class = 'main-page__header__sign-up-button'><%= link_to 'Sign out', signout_path, method: 'delete' %></div>
              </li>
              <li class = 'main-page__header__sign-up'>
                <div class = 'main-page__header__sign-up-button'><%= link_to 'Settings', edit_user_path(current_user) %></div>
              </li>
              <li class = 'main-page__header__sign-up'>
                <div class = 'main-page__header__sign-up-button'><%= link_to 'Profile', current_user %></div>
              </li>
              <li class = 'main-page__header__sign-up'>
                <div class = 'main-page__header__sign-up-button'><%= link_to 'All Hotels', all_hotels_path %></div>
              </li>
              <div class="main-page__header__name">
                <%= current_user.name + ' ' + current_user.surname %>
              </div>
          <% else %>
              <li class = 'main-page__header__sign-up'>
                <div class = 'main-page__header__sign-up-button'><%= link_to 'Sign In', signin_path %></div>
              </li>
              <li class = 'main-page__header__sign-up'>
                <div class = 'main-page__header__sign-up-button'><%= link_to 'Sign Up', signup_path %></div>
              </li>
              <li class = 'main-page__header__sign-up'>
                <div class = 'main-page__header__sign-up-button'><%= link_to 'All Hotels', all_hotels_path %></div>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
    <%= yield %>
</body>
</html>